#preloader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  z-index: 9999999;
  right: 0;
  bottom: 0;
}
#preloader-status {
  background-color: $white;
  // width: 110px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // img{
  //   height: 200px;
  //   width: 200px;
  // }
}

.loading-container div {
  height:20px;
  width:20px;
  border-radius:50%;
  float:left;
  margin:0 3px;
  background-color: $primary-color;
  transform:scale(0);
}
.loading-container .ball1 {
  z-index:1;
  -moz-animation: grow 4.4s infinite ease-in-out;
  -webkit-animation: grow 4.4s infinite ease-in-out;
}
.loading-container .ball2 {
  -moz-animation: grow 4.4s infinite ease-in-out;
  -webkit-animation: grow 4.4s infinite ease-in-out;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loading-container .ball3 {
  -moz-animation: grow 4.4s infinite ease-in-out;
  -webkit-animation: grow 4.4s infinite ease-in-out;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.loading-container .ball4 {
  -moz-animation: grow 4.4s infinite ease-in-out;
  -webkit-animation: grow 4.4s infinite ease-in-out;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-moz-keyframes grow {
  0% {-moz-transform: scale(0);}
  25% {-moz-transform: scale(1);}
  50% {-moz-transform: scale(0);}
  75% {-moz-transform: scale(1);background:#ffffff;}
  100% {-moz-transform: scale(0);background:#ffffff;}
}
@-webkit-keyframes grow {
  0% {-webkit-transform: scale(0);}
  25% {-webkit-transform: scale(1);}
  50% {-webkit-transform: scale(0);}
  75% {-webkit-transform: scale(1);background:#ffffff;}
  100% {-webkit-transform: scale(0);background:#ffffff;}
}

