.location-card {
    &.style-3{
        overflow: hidden;
        .image-wrapper{
            .image-inner{
                border-radius: 16px;
                &:before {
                    position: absolute;
                    top: 0;
                    left: -85%;
                    z-index: 2;
                    display: block;
                    content: '';
                    width: 50%;
                    height: 100%;
                    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .8) 100%);
                    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .8)));
                    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .8) 100%);
                    -webkit-transform: skewX(-25deg);
                    -ms-transform: skewX(-25deg);
                    transform: skewX(-25deg);
                    z-index: 20;
                }
                img{
                    border-radius: 16px;
                }
            }
        }
        .content-wrapper{
            visibility: visible;
            margin-bottom: 0px;
            position: relative;
            margin:0;
            margin-top: 32px;
            .content-inner{
                opacity: 1;
                flex-direction: column;
                justify-content: start;
                align-items: start ;
                padding: 0px ;
                gap: 3px;
                .price{
                    color: $primary-color;
                    font-family: $body-font;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 140%;
                }
                .title{
                    width: auto;
                    font-size: 24px;
                    a{
                        font-size: 24px;
                        line-height: 130%;
                        letter-spacing: -0.56px;
                        @extend .animated-text-blue;
                        &:hover{
                            background-position: -100%;
                        }
                    }
                }
                .time-zone{
                    border-top: 1px solid $gray-2;
                    padding-top: 24px;
                    margin-top: 12px;
                    width: 100%;
                    display: flex;
                    gap: 24px;
                    
                    .time-zone-inner{
                        display: flex;
                        gap: 8px;
                        justify-content: center;
                        align-items: center;
                        i{
                            color: $black-4;
                            font-size: 18px;
                        }
                        .desc{
                            font-family: $body-font;
                            color: $black-2;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 170%;
                            margin: 0px;
                        }
                    }
                }
            }
        }
        &:hover{
            .image-wrapper{
                .image-inner{
                    &:before{
                        -webkit-animation: shine 1s;
	                    animation: shine 1s;
                    }
                }
            }
        }
    }
}