.testimonial-slider-area{
    position: relative;
    padding: 120px 0;
    overflow: hidden;
    @include sm{
        padding: 100px 0;
    }
    @include sm{
        padding: 80px 0;
    }
    &.style-1{
        .testimonial-content-wrapper{
            margin-left: 88px;
            @include rmaxwd(992){
                margin-left: 0px;
            }
            .section-title{
                margin-bottom: 42px;
            }
        }
    }
}
.testimonial-slider-image-wrapper{
    position: relative;
    @include rmaxwd(1200){
        display: none;
    }
    .single-img-wrapper {
        position: absolute;
        .img-inner{
            position: relative;
            .content{
                position: absolute;
                position: absolute;
                top: 50%;
                left: -16%;
                border-radius: 50px;
                padding: 8px 16px;
                background: white;
                box-shadow: 0px 8px 23px 0px rgba(0, 0, 0, 0.10);
                animation: MoveLeftRight 2s linear infinite alternate;
                &.style-2{
                    left: inherit;
                    right: -16%;
                    animation: MoveLeftRight 4s linear infinite alternate;
                }
                span,.desc{
                    color: $black;
                    font-family: $body-font;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{
                        color: $primary-color;
                        margin-right: 6px;
                    }
                }
            }
        }
        .image{
            height: auto;
            border-radius: 100%;
            overflow: hidden;
        }
        &.style-1{
            top: 0;
            transform: translate(0%, -10%);
            .image{
                width: 354px;
                @include rmaxwd(1400){
                    width: 280px;
                }
            }
        }
        &.style-2{
            width: 139px;
            height: auto;
            top: 0;
            left: 0;
            transform: translate(178%, 244%);
            .image{
                width: 139px;
            }
        }
        &.style-3{
            top: 0;
            right: 0;
            transform: translate(2%, 91%);
            @include rmaxwd(1400){
                transform: translate(2%, 44%);
            }
            .image{
                width: 218px;
            }
        }
    }
}
.testimonial-slider-wrapper{
    button{
        display: none !important;
    }
    .testimonial-card{
        .content-wrapper{
            .content{
                .text{
                    font-family: $body-font;
                    color: $black;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 140%;
                    margin: 0px !important;
                }
            }
        }
        .user-rating{
            margin-top: 33px;
            display: flex;
            align-items: center;
            gap: 6px;
            i{
                color: $secondary-color;
            }
            @include rmaxwd(1200){
                margin-top: 22px;
            }
        }
    }

}
.testimonial-user-slider{
    margin-top: 52px;
    display: flex;
    align-items: center;
    .arrow-btn{
        width: 64px !important;
        height: 64px !important;
        border-radius: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        border-color: $gray-2;
        position: relative;
        cursor: pointer;
         &:before{
            position: absolute;
            width: 0;
            height: 100%;
            left: 0;
            top: 0;
            background-color: $primary-color;
            content: "";
            @include transition;
            color: $white;
        }
        @include sm{
            width:52px !important;
            height: 52px !important;
            background-color: $white;
            i{
                color: $primary-color !important;
            }
        }
        i{
            color: $black;
            @include transition;
            position: relative;
            z-index: 10;
        }
        &:hover{
             &:before{
                width: 100%;
                @include transition;
             }
             i{
                color: $white;
                @include transition;
             }
        }
    }
}
.testimonial-user-wrapper {
    //Slick Control
    .slick-list{
        padding: 0px !important;
    }
    .slick-track{
        width: 100% !important;
        display: flex;
        transform: none !important;
    }
    .slick-current{
        &.single-user{
            border-color: $primary-color; 
            img{
                @include transition; 
                transform: rotateY(360deg);
            }
        }  
    }
    .single-user{
        height: 72px !important;
        width: 72px !important;
        padding: 3px; 
        border-radius: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        margin-right: 12px;
        border: 1px solid transparent;
        position: relative;
        cursor: pointer;
        @include sm{
            width:52px !important;
            height: 52px !important;
            margin-right: 6px;
        }
        img{
            border-radius: 100%;  
        }
    }

}

