.testimonial-slider-area{
    &.style-2{
        .testimonial-marquee-wrapper{
            .brand-marquee-wrapper {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                gap: 40px;
            }
            .first-marquee-wrapper{
                animation: Scroll 32s linear infinite;
            }
            .second-marquee-wrapper{
                margin-top: 40px;
                animation: Scroll 32s linear infinite;
                animation-direction: reverse;
            }
        }
        .testimonial-marquee-wrapper{
            &.style-2{
                .testimonial-card-two{
                    background-color: $white;
                }
            }
        }
    }
}

