.location-area{
    &.style-3{
       padding: 0;
       padding-bottom: 120px; 
       @include md{
        padding-bottom: 100px; 
       }
       @include sm{
        padding-bottom: 80px; 
       }
    }
}