{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Menu Sidebar Section Start -->
    <div class="menu-sidebar-area">
        <div class="menu-sidebar-wrapper">
            <div class="menu-sidebar-close">
                <button class="menu-sidebar-close-btn" id="menu_sidebar_close_btn">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="menu-sidebar-content">
                <div class="menu-sidebar-logo">
                    <a href="index.html"><img src="{% static 'images/logo/nav-logo.png' %}" alt="logo"/></a>
                </div>
                <div class="mobile-nav-menu"></div>
                <div class="menu-sidebar-content">
                    <div class="menu-sidebar-single-widget">
                        <h5 class="menu-sidebar-title">Contact Info</h5>
                        <div class="header-contact-info">
                            <span><i class="fa-solid fa-location-dot"></i>20, Bordeshi, New York, US</span>
                            <span><a href="mailto:hello@transico.com"><i class="fa-solid fa-envelope"></i>hello@transico.com</a> </span>
                            <span><a href="tel:+123-456-7890"><i class="fa-solid fa-phone"></i>+123-456-7890</a></span>
                        </div>
                        <div class="social-profile">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu Sidebar Section Start -->
    <div class="body-overlay"></div>

    <!-- Page Header Start !-->
    <div class="page-breadcrumb-area page-bg" style="background-image: url({% static 'images/breadcrumb/priroda2.jpg' %})"></div>
    <!-- Page Header End !-->

    <!-- About Us Area Start -->
    <div class="about-us-area style-1" style="background-image: url({% static 'images/about-us-area/bg-1.png' %})">
        <img class="shape-1 wow zoomInDown" src="{% static 'images/shape/dots.png' %}" alt="Shape">
        <div class="container">
            <div class="about-us-wrapper">
                <div class="row">
                    <div class="col-xl-5 order-xl-1 order-2 wow fadeInLeft" data-wow-delay=".4s">  
                        <div class="about-us-content-wrapper-1">
                            <div class="section-title">
                                <div class="sec-content">
                                    <span class="short-title">name of travel agency</span>
                                    <h2 class="title">Мы создаем путешествия для увлеченных путешественников</h2>
                                    <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                                </div>
                            </div>
                            <div class="info-card style-1">
                                <div class="icon-wrapper">
                                    <img src="{% static 'images/icon/folding-map.png' %}" alt="Icon">
                                </div>
                                <div class="content">
                                    <h6 class="title">Лучшее из отелей</h6>
                                    <p class="desc">Мы стараемся тщательно выберать отелей для нашых путешественников и выбрать самые лучшее</p>
                                </div>
                            </div>
                            <div class="info-card style-1">
                                <div class="icon-wrapper">
                                    <img src="images/icon/ticket.png" alt="Icon">
                                </div>
                                <div class="content">
                                    <h6 class="title">Путешествие мирового класса</h6>
                                    <p class="desc">Очень широкие направление туров</p>
                                </div>
                            </div>
                            <div class="meta-wrapper">
                                <a href="{% url "about_page" %}" class="theme-btn">Learn more</a>
                                <div class="meta-user">
                                    <a href="#" class="image-inner">
                                        <img src="{% static 'images/testimonial/user.avif' %}" alt="User">
                                    </a>
                                    <a href="#" class="image-inner">
                                        <img src="{% static 'images/testimonial/user.avif' %}" alt="User">
                                    </a>
                                    <a href="#" class="image-inner">
                                        <img src="{% static 'images/testimonial/user.avif' %}" alt="User">
                                    </a>
                                    <a href="#" class="image-inner">
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                </div>
                                <div class="counter-wrapper">
                                    <h6 class="counter-inner"><span class="counter">500</span>K+</h6>
                                    <span class="customers">customers</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 order-xl-2 order-1 wow fadeInRight" data-wow-delay=".4s">
                        <div class="about-us-image-wrapper-1">
                            <img class="bg-shape" src="{% static 'images/about-us-area/image-wrapper-bg-1.png' %}" alt="Shape">
                            <div class="image-wrapper style-1">
                                <img src="{% static 'images/about-us-area/tay.jpg' %}" alt=" Vacation Image">
                            </div>
                            <div class="image-wrapper style-2">
                                <img src="{% static 'images/about-us-area/gori.avif' %}" alt=" Vacation Image">
                            </div>
                            <div class="image-wrapper style-3">
                                <img src="{% static 'images/about-us-area/gk.jpg' %}" alt=" Vacation Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Area Start -->

    <!-- Process Step Area Start  -->
    <div class="process-step-area style-1">
        <div class="container">
            <img class="bg-shape" src="{% static 'images/shape/elements.png' %}" alt="Shape">
            <div class="section-title justify-content-center text-center">
                <div class="sec-content">
                    <span class="short-title">name of travel agency</span>
                    <h2 class="title">Революция в способах путешествий</h2>
                    <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                </div>
            </div>
            <div class="row gy-4">
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="0s">
                    <div class="process-card style-1">
                        <div class="img-wrapper wow">
                            <img src="{% static 'images/process-step-area/image-1.png' %}" alt="Shape">
                        </div>
                        <div class="content-wrapper">
                            <h4 class="title">Бронируйте и отдыхайте</h4>
                            <p class="desc"></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                    <div class="process-card style-1">
                        <div class="img-wrapper">
                            <img src="{% static 'images/process-step-area/image-2.png' %}" alt="Shape">
                        </div>
                        <div class="content-wrapper">
                            <h4 class="title">Умный контрольный список</h4>
                            <p class="desc"></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                    <div class="process-card style-1 ">
                        <div class="img-wrapper">
                            <img src="{% static 'images/process-step-area/image-3.png' %}" alt="Shape">
                        </div>
                        <div class="content-wrapper">
                            <h4 class="title">Экономьте больше</h4>
                            <p class="desc"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Process Step Area End  -->

    <!-- Video Modal Area  Start -->
    <div class="video-modal-area style-1">
        <div class="container">
            <div class="section-title">
                <div class="sec-content wow fadeInLeft" data-wow-delay="0s">
                    <span class="short-title">name of travel agency</span>
                    <h2 class="title">Испытайте новое приключение вместе с нами </h2>
                    <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                </div>
                <div class="btn-sec-inner wow fadeInRight" data-wow-delay=".2s">
                    <div class="sec-desc">
                        <p class="desc">Жизнь во время путешествия — это мечта в чистом виде.</p>
                    </div>
                    <div class="sec-btn">
                        <a href="#" class="theme-btn">Узнать больше</a>
                    </div>
                </div>
            </div>
            <div class="video-modal-card style-1 wow fadeInUp" data-wow-delay=".4s">
                <div class="image-wrapper">
                    <img src="{% static 'images/video-modal/video.jpg' %}" alt="Video Modal">
                </div>
                <div class="popup-video-wrapper">
                    <div class="video-btn">
                        <a href="https://www.youtube.com/watch?v=7e90gBu4pas" class="mfp-iframe video-play">
                            <i class="icon-play-button" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- Video Modal Area  End -->

     <!-- location Image Card Area Start -->
    <div class="location-area style-2 bg-white">
        <div class="container">
            <div class="section-title  align-content-center justify-content-center text-center">
                <div class="sec-content">
                    <h2 class="title">Наша замечательная команда</h2>
                    <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                </div>
            </div>
            <div class="location-card-wrapper">
                <div class="row gy-4">
                    <!-- Single Card Start -->
                    <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0s">
                        <div class="location-image-card style-2">
                            <div class="img-wrapper">
                                <img src="{% static 'images/location-image-card/image-5.png' %}" alt="Place Image">
                            </div>
                            <div class="content-inner">
                                <h6 class="city">Jenny Wilson</h6>
                                <p class="duration">CEO & Founder</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Card End -->
                    <!-- Single Card Start -->
                    <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".4s">
                        <div class="location-image-card style-2">
                            <div class="img-wrapper">
                                <img src="{% static 'images/location-image-card/image-6.png' %}" alt="Place Image">
                            </div>
                            <div class="content-inner">
                                <h6 class="city">Robert Mayar</h6>
                                <p class="duration">Manager</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Card End -->
                    <!-- Single Card Start -->
                    <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".8s">
                        <div class="location-image-card style-2">
                            <div class="img-wrapper">
                                <img src="{% static 'images/location-image-card/image-7.png' %}" alt="Place Image">
                            </div>
                            <div class="content-inner">
                                <h6 class="city">Annette Black</h6>
                                <p class="duration">Tour Manager</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Card End -->
                    <!-- Single Card Start -->
                    <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="1.2s">
                        <div class="location-image-card style-2">
                            <div class="img-wrapper">
                                <img src="{% static 'images/location-image-card/image-8.png' %}" alt="Place Image">
                            </div>
                            <div class="content-inner">
                                <h6 class="city">Bessie Cooper</h6>
                                <p class="duration">Chief Agent</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Card End -->
                </div>
            </div>
        </div>
    </div>
    <!-- location Image Card Area End -->
{% endblock content %}