{% extends "base.html" %}
{% load static %}
    
{% block content %}
    <!-- Menu Sidebar Section Start -->
    <div class="menu-sidebar-area">
        <div class="menu-sidebar-wrapper">
            <div class="menu-sidebar-close">
                <button class="menu-sidebar-close-btn" id="menu_sidebar_close_btn">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="menu-sidebar-content">
                <div class="menu-sidebar-logo">
                    <a href="index.html"><img src="{% static 'images/logo/nav-logo.png' %}" alt="logo"/></a>
                </div>
                <div class="mobile-nav-menu"></div>
                <div class="menu-sidebar-content">
                    <div class="menu-sidebar-single-widget">
                        <h5 class="menu-sidebar-title">Contact Info</h5>
                        <div class="header-contact-info">
                            <span><i class="fa-solid fa-location-dot"></i>20, Bordeshi, New York, US</span>
                            <span><a href="mailto:hello@transico.com"><i
                                        class="fa-solid fa-envelope"></i>hello@transico.com</a> </span>
                            <span><a href="tel:+123-456-7890"><i class="fa-solid fa-phone"></i>+123-456-7890</a></span>
                        </div>
                        <div class="social-profile">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu Sidebar Section Start -->

    <!-- Banner Section Start !-->
    <div class="slider-area style-1"  style="background-image: url({% static 'images/hero-section/bg-1.jpg' %})">
        <img class="banner-shape-1 wow slideInLeft" src="{% static 'images/shape/wave.png' %}" alt="Shape">
        <img class="banner-shape-2 wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms" src="{% static 'images/shape/send-msg.png' %}" alt="Shape">
        <img class="banner-shape-3 wow slideInDown" src="{% static 'images/shape/sky.png' %}" alt="Shape">
        <img class="banner-shape-4 wow zoomInUp" src="{% static 'images/shape/dots.png' %}" alt="Shape">
        <div class="slider-wrapper">
            <div>
                <div class="single-slider">
                    <div class="container h-100 align-self-center">
                        <div class="content-wrapper">
                            <div class="row h-100">
                                <div class="col-md-5 align-self-center order-2 order-md-1">
                                    <div class="slider-content-wrapper">
                                        <div class="slider-content">
                                            <img class="topbar-shape" src="{% static 'images/shape/highlight.png' %}" alt="Shape">
                                            <span class="slider-short-title">Tour and travels</span>
                                            <h1 class="slider-title">Lets travel the world with us</h1>
                                            <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                                            <p class="slider-short-desc">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatu</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 align-self-center order-1 order-md-2">
                                    <div class="slider-image">
                                        <img src="{% static 'images/hero-section/paris.jpg' %}" alt="feature image" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="location-filter-wrapper">
                                    <div class="location-filter-card style-1">
                                        
                                        <form method="get" action="{% url 'search_page' %}">
                                            <div class="single-item">
                                                <label for="state" class="select-location">Location</label>
                                                <select class="select-location-inner" id="state" name="country">
                                                    {% for i in tours %}
                                                        <option value="{{ i.country }}">{{ i.country }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            {% comment %} <div class="single-item">
                                                <label class="datepicker" for="datepicker">Date</label>
                                                <input type="text" id="datepicker" name="start_date">
                                            </div> {% endcomment %}
                                            <div class="single-item price-range-inner">
                                                <span class="priceLabel">Price</span>
                                                <span id="priceValue"><span id="min-value"></span>-<span id="max-value"></span>so`m</span>
                                                <div class="priceSlider">
                                                    <div class="min-max-range">
                                                        <label for="min">Low price</label>
                                                        <input type="range" min="0" max="5000000" class="range" id="min" name="min_price">
                                                        <label for="max">High price</label>
                                                        <input type="range" min="5000010" max="10000000" class="range" id="max" name="max_price">
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="style-1" type="submit"><i class="icon-search"></i></button>
                                        </form>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Section End !-->

    <!--- Location Slider Area Start !-->
    <div class="location-slider-area style-1">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <div class="sec-content">
                            <img class="topbar-shape-2" src="{% static 'images/shape/three-line-shape.png' %}" alt="Shape">
                            <span class="short-title">Destination</span>
                            <h2 class="title">Popular destination</h2>
                            <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                        </div>
                        <div class="location-slider-arrow">
                            <button type="button" class="location-arrow-btn prev-btn" id="trigger_location_prev"><i class="fa-solid fa-arrow-left"></i></button>
                            <button type="button" class="location-arrow-btn next-btn" id="trigger_location_next"><i class="fa-solid fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="location-slider-wrapper" id="location-slider-wrapper">
                <!--- Single Location Start !-->
                {% for tour in tours %}
                    <div class="location-card style-1 wow fadeInUp" data-wow-delay="0s">
                        <div class="image-wrapper">
                            <a class="image-inner" href="{{tour.get_absolute_url}}">
                                <img src="{{tour.image.url}}" alt="Location Image">
                            </a>
                            <div class="rating">
                                <div class="ratting-inner">
                                    <span><i class="fa-solid fa-star"></i></span>   
                                    <span class="counter">3.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="content-wrapper">
                            <div class="content-inner">
                                <h3 class="content-title"><a href="{{tour.get_absolute_url}}">{{tour.title}}</a></h3>
                                <a href="{{tour.get_absolute_url}}" class="icon"><i class="icon-up-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                <!--- Single Location End !-->
                {% endfor %}
            </div>
        </div>
    </div>
    <!--- Location Slider Area Start !-->

    <!-- About Us Area Start -->
    <div class="about-us-area style-1" style="background-image: url({% static 'images/about-us-area/bg-1.png' %})">
        <img class="shape-1 wow zoomInDown" src="{% static 'images/shape/dots.png' %}" alt="Shape">
        <div class="container">
            <div class="about-us-wrapper">
                <div class="row">
                    <div class="col-xl-5 order-xl-1 order-2 wow fadeInLeft" data-wow-delay=".4s">  
                        <div class="about-us-content-wrapper-1">
                            <div class="section-title">
                                <div class="sec-content">
                                    <span class="short-title">About us</span>
                                    <h2 class="title">We create journeys for the excited traveler</h2>
                                    <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                                </div>
                            </div>
                            <div class="info-card style-1">
                                <div class="icon-wrapper">
                                    <img src="{% static 'images/icon/folding-map.png' %}" alt="Icon">
                                </div>
                                <div class="content">
                                    <h6 class="title">Best of hotel</h6>
                                    <p class="desc">Ut enim ad minima veniam, quis nostrum exercitation em ullam corporis suscipit laboriosam, nisi ut al</p>
                                </div>
                            </div>
                            <div class="info-card style-1">
                                <div class="icon-wrapper">
                                    <img src="{% static 'images/icon/ticket.png' %}" alt="Icon">
                                </div>
                                <div class="content">
                                    <h6 class="title">World class travel</h6>
                                    <p class="desc">Nemo enim ipsam voluptatem quia voluptas sit asper natur aut oditut fugit seduia con senim ipsam tatem</p>
                                </div>
                            </div>
                            <div class="meta-wrapper">
                                <a href="about.html" class="theme-btn">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 order-xl-2 order-1 wow fadeInRight" data-wow-delay=".4s">
                        <div class="about-us-image-wrapper-1">
                            <img class="bg-shape" src="{% static 'images/about-us-area/image-wrapper-bg-1.png' %}" alt="Shape">
                            <div class="image-wrapper style-1">
                                <img src="{% static 'images/about-us-area/tay.jpg' %}" alt=" Vacation Image">
                            </div>
                            <div class="image-wrapper style-2">
                                <img src="{% static 'images/about-us-area/gori.avif' %}" alt=" Vacation Image">
                            </div>
                            <div class="image-wrapper style-3">
                                <img src="{% static 'images/about-us-area/gk.jpg' %}" alt=" Vacation Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Area Start -->
    
    <!-- Location Area Start -->
    <div class="location-area style-1">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title  align-content-center justify-content-center text-center">
                        <div class="sec-content">
                            <span class="short-title">Popular packages</span>
                            <h2 class="title">Find popular tours</h2>
                            <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gy-4">
                <!--- Single Location Start !-->
                {% for tour in tours1 %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0s">
                        <div class="location-card style-2">
                            <div class="image-wrapper">
                                <div class="image-inner">
                                    <a href="tour-details.html"><img src="{{tour.image.url}}" style="width: 350px; height: 300px;" alt="Location Image"></a>
                                </div>
                                <div class="rating">
                                    <div class="ratting-inner">
                                        <span><i class="fa-solid fa-star"></i></span>   
                                        <span class="counter">3.5</span>
                                    </div>
                                </div>
                                <a href="#" class="favourite-icon active"><i class="fa-solid fa-heart"></i></a>
                            </div>
                            <div class="content-wrapper">
                                <div class="content-inner">
                                    <span class="price">{{tour.prise}}so`m</span>
                                    <h3 class="content-title"><a href="tour-details.html">{{tour.title}}</a></h3>
                                    <div class="time-zone">
                                        <div class="time-zone-inner">
                                        <i class="fa-solid fa-location-dot"></i>
                                            <p class="title">{{tour.addres}}</p>
                                        </div>
                                        <div class="time-zone-inner">
                                            <i class="fa-solid fa-clock"></i>
                                            <p class="title">{{tour.days}} Days</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!--- Single Location End !-->
               
            </div>
        </div>
    </div>
    <!-- Location Area End -->

    <!-- Why Choose Us Area  Start-->
    <div class="why-choose-us-area style-1">
        <img class="shape-1 wow zoomInDown" src="{% static 'images/shape/half-circle-2.png' %}" alt="Shape">
        <img class="shape-2 wow zoomInUp" src="{% static 'images/shape/dots.png' %}" alt="Shape">
        <div class="container">
            <div class="row gy-4">
                <div class="col-xl-4 col-lg-6 wow fadeInLeft" data-wow-delay=".4s">
                    <div class="section-title">
                        <div class="sec-content">
                            <span class="short-title">Why choose us</span>
                            <h2 class="title">Get the best travel experience with travello</h2>
                            <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                        </div>
                        <div class="sec-desc">
                            <p class="desc">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu</p>
                        </div>
                        <div class="sec-btn">
                            <a href="#" class="theme-btn">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 align-self-center wow fadeInDown" data-wow-delay=".6s">
                    <div class="image-wrapper">
                        <img src="{% static 'images/why-choose-us-area/choose-us-img-1.png' %}" alt="Choose Us Image">
                    </div>
                </div>
                <div class="col-xl-4 wow fadeInRight" data-wow-delay=".4s">
                    <div class="info-wrapper">
                        <div class="info-card style-1">
                            <div class="icon-wrapper">
                                <img src="{% static 'images/icon/folding-map.png' %}" alt="Icon">
                            </div>
                            <div class="content">
                                <h6 class="title">Tour guide</h6>
                                <p class="desc">Nemo enim ipsam voluptatem quiavo lup tas sit asper natur aut oditut fug</p>
                            </div>
                        </div>
                        <div class="info-card style-1">
                            <div class="icon-wrapper">
                                <img src="{% static 'images/icon/ticket.png' %}" alt="Icon">
                            </div>
                            <div class="content">
                                <h6 class="title">Friendly price</h6>
                                <p class="desc">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                            </div>
                        </div>
                        <div class="info-card style-1">
                            <div class="icon-wrapper">
                                <img src="{% static 'images/icon/calender.png' %}" alt="Icon">
                            </div>
                            <div class="content">
                                <h6 class="title">Instant booking</h6>
                                <p class="desc">Ut enim ad minima veniam, quis nostru m exercitationem ullam corporis</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Why Choose Us Area  End-->

    <!-- Process Step Area Start  -->
    <div class="process-step-area style-1">
        <div class="container">
            <img class="bg-shape" src="{% static 'images/shape/elements.png' %}" alt="Shape">
            <div class="section-title justify-content-center text-center">
                <div class="sec-content">
                    <span class="short-title">Our process</span>
                    <h2 class="title">Revolutionising the ways we travel</h2>
                    <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                </div>
            </div>
            <div class="row gy-4">
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="0s">
                    <div class="process-card style-1">
                        <div class="img-wrapper wow">
                            <img src="{% static 'images/process-step-area/image-1.png' %}" alt="Shape">
                        </div>
                        <div class="content-wrapper">
                            <h4 class="title">Book & relax</h4>
                            <p class="desc">Nemo enim ipsam voluptatem quia volup tas sit asper natur aut oditut fugit</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                    <div class="process-card style-1">
                        <div class="img-wrapper">
                            <img src="{% static 'images/process-step-area/image-2.png' %}" alt="Shape">
                        </div>
                        <div class="content-wrapper">
                            <h4 class="title">Smart checklist</h4>
                            <p class="desc">Nemo enim ipsam voluptatem quia volup tas sit aspernatur aut odit aut fugit</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                    <div class="process-card style-1 ">
                        <div class="img-wrapper">
                            <img src="{% static 'images/process-step-area/image-3.png' %}" alt="Shape">
                        </div>
                        <div class="content-wrapper">
                            <h4 class="title">Save more</h4>
                            <p class="desc">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Process Step Area End  -->

    <!-- CTA Area Start -->
    <div class="cta-area style-1"  style="background-image: url({% static 'images/cta-area/bg-1.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-md-5 text-start wow fadeInLeft">
                    <div class="section-title">
                        <div class="sec-content">
                            <span class="short-title">Our digital platform</span>
                            <h2 class="title">Get 5% off on your first app booking and travel with us</h2>
                            <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                        </div>
                        <div class="sec-desc">
                            <p class="desc">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur ma</p>
                        </div>
                        <div class="sec-btn">
                            <a href="#"><img src="{% static 'images/brand-logo/google-play.png' %}" alt="Google Play"></a>
                            <a href="#"><img src="{% static 'images/brand-logo/app-store.png' %}" alt="App Store"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 text-end wow fadeInRight">
                    <div class="image-wrapper">
                        <img class="wave-shape" src="{% static 'images/shape/wave-black.png' %}" alt="Shape">
                        <img class="top-circle" src="{% static 'images/shape/circle-1.png' %}" alt="Shape">
                        <img class="bottom-circle" src="{% static 'images/shape/circle-2.png' %}" alt="Shape"> 
                        <img class="side-img" src="{% static 'images/cta-area/side-img-1.png' %}" alt="Phone VIew">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CTA Area End -->

    <!-- Testimonial Slider Area Start -->
    <div class="testimonial-slider-area style-1">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 wow fadeInLeft">
                    <div class="testimonial-slider-image-wrapper">
                        <div class="single-img-wrapper style-1">
                            <div class="img-inner">
                                <div class="image">
                                    <img src="{% static 'images/testimonial/rim.jpg' %}" alt="User Image">
                                </div>
                                <div class="content">
                                    <span class="desc"><i class="fa-solid fa-location-dot"></i>Roma</span>
                                </div>
                            </div>
                        </div>
                        <div class="single-img-wrapper style-2">
                            <div class="img-inner">
                                <div class="image">
                                    <img src="{% static 'images/testimonial/msk.jpg' %}" alt="User Image">
                                </div>
                                <div class="content">
                                    <span class="desc"><i class="fa-solid fa-location-dot"></i>Russia</span>
                                </div>
                            </div>
                        </div>
                        <div class="single-img-wrapper style-3">
                            <div class="img-inner">
                                <div class="image">
                                    <img src="{% static 'images/testimonial/istanbul.jpg' %}" alt="User Image">
                                </div>
                                <div class="content style-2">
                                    <span class="desc"><i class="fa-solid fa-location-dot"></i>Istanbul</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 wow fadeInRight">
                    <div class="testimonial-content-wrapper">
                         <div class="section-title">
                            <div class="sec-content">
                                <span class="short-title"></span>
                                <h2 class="title">What traveler says</h2>
                                <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                            </div>
                        </div>
                        <div class="testimonial-slider-wrapper" id="testimonial_one">
                            <!-- Single Slider Content Start -->
                            <div>
                                <div class="testimonial-card style-1">
                                    <div class="content-wrapper">
                                        <div class="content">
                                            <p class="text">“Their service is absolutely wonderful and cheaper than the direct or any other booking site, You back to us strait away and no issues at all in the other end.”</p>
                                        </div>
                                        <div class="user-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <!-- Single Slider Content End -->
                        </div>  
                        <div class="testimonial-user-slider">
                            <div class="testimonial-user-wrapper ">
                                <!-- Single User Wrapper Start -->
                                <div  class="single-user">
                                    <img src="{% static 'images/testimonial/user.avif' %}" alt="user"/>
                                </div>
                                <!-- Single User Wrapper End -->

                                <!-- Single User Wrapper Start -->
                                <div class="single-user">
                                    <img src="{% static 'images/testimonial/user.avif' %}" alt="user"/>
                                </div>
                                <!-- Single User Wrapper End -->

                                <!-- Single User Wrapper Start -->
                                <div class="single-user">
                                    <img src="{% static 'images/testimonial/user.avif' %}" alt="user"/>
                                </div>
                                <!-- Single User Wrapper End -->

                                <!-- Single User Wrapper Start -->
                                <div class="single-user">
                                    <img src="{% static 'images/testimonial/user.avif' %}" alt="user"/>
                                </div>
                                <!-- Single User Wrapper End -->

                                <!-- Single User Wrapper Start -->
                                <div  class="single-user">
                                    <img src="{% static 'images/testimonial/user.avif' %}" alt="user"/>
                                </div>
                                <!-- Single User Wrapper End -->
                            </div>

                            <!-- Single User Wrapper Start -->
                            <div class="arrow-btn" id="user-slider-arrow">
                                <i class="fa-regular fa-arrow-right"></i>
                            </div>
                            <!-- Single User Wrapper End -->
                        </div>           
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial Slider Area End -->

    <!-- location Image Card Area Start -->
    <div class="location-area style-2">
        <img class="bg-bottom-shape" src="{% static 'images/shape/bottom-shape.png' %}" alt="Shape">
        <div class="container">
            <div class="section-title  align-content-center justify-content-center text-center">
                <div class="sec-content">
                    <span class="short-title">Destination</span>
                    <h2 class="title">Explore your nearby</h2>
                    <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                </div>
            </div>
            <div class="location-card-wrapper">
                <div class="row gy-4">
                    <!-- Single Card Start -->
                    <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0s">
                        <div class="location-image-card">
                            <a href="destination-details.html" class="img-wrapper">
                                <img src="{% static 'images/location-image-card/image-1.png' %}" alt="Place Image">
                            </a>
                            <div class="content-inner">
                                <h6 class="city"><a href="destination-details.html">New york</a></h6>
                                <p class="duration">19 min drive</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Card End -->
                    <!-- Single Card Start -->
                    <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".4s">
                        <div class="location-image-card">
                            <a href="destination-details.html" class="img-wrapper">
                                <img src="{% static 'images/location-image-card/image-2.png' %}" alt="Place Image">
                            </a>
                            <div class="content-inner">
                                <h6 class="city"><a href="destination-details.html">Greece</a></h6>
                                <p class="duration">19 min drive</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Card End -->
                    <!-- Single Card Start -->
                    <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".8s">
                        <div class="location-image-card">
                            <a href="destination-details.html" class="img-wrapper">
                                <img src="{% static 'images/location-image-card/image-3.png' %}" alt="Place Image">
                            </a>
                            <div class="content-inner">
                                <h6 class="city"><a href="destination-details.html">Morocco</a></h6>
                                <p class="duration">19 min drive</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Card End -->
                    <!-- Single Card Start -->
                    <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="1.2s">
                        <div class="location-image-card">
                            <a href="destination-details.html" class="img-wrapper">
                                <img src="{% static 'images/location-image-card/image-4.png' %}" alt="Place Image">
                            </a>
                            <div class="content-inner">
                                <h6 class="city"><a href="destination-details.html">Colombia</a></h6>
                                <p class="duration">19 min drive</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Card End -->
                </div>
            </div>
            <div class="sec-btn justify-content-center text-center">
                <a class="theme-btn" href="destination.html">Discover more</a>
            </div>
        </div>
    </div>
    <!-- location Image Card Area End -->
    {% endblock content %}
   