{% extends "base.html" %}
{% load static %}
{% load i18n %}
    
{% block content %}
    <!-- Banner Section Start !-->
    <div class="slider-area style-1"  style="background-image: url({% static 'images/hero-section/bg-1.jpg' %})">
        <img class="banner-shape-1 wow slideInLeft" src="{% static 'images/shape/wave.png' %}" alt="Shape">
        <img class="banner-shape-2 wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms" src="{% static 'images/shape/send-msg.png' %}" alt="Shape">
        <img class="banner-shape-3 wow slideInDown" src="{% static 'images/shape/sky.png' %}" alt="Shape">
        <img class="banner-shape-4 wow zoomInUp" src="{% static 'images/shape/dots.png' %}" alt="Shape">
        <div class="slider-wrapper">
            <div>
                <div class="single-slider">
                    <div class="container h-100 align-self-center">
                        <div class="content-wrapper">
                            <div class="row h-100">
                                <div class="col-md-5 align-self-center order-2 order-md-1">
                                    <div class="slider-content-wrapper">
                                        <div class="slider-content">
                                            <img class="topbar-shape" src="{% static 'images/shape/highlight.png' %}" alt="Shape">
                                            <span class="slider-short-title">name of travel agency</span>
                                            <h1 class="slider-title">{% blocktranslate %}Путешествие только с нами{% endblocktranslate %}</h1>
                                            <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                                            <p class="slider-short-desc"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 align-self-center order-1 order-md-2">
                                    <div class="slider-image">
                                        <img src="{% static 'images/hero-section/paris.jpg' %}" alt="feature image" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="location-filter-wrapper">
                                    <div class="location-filter-card style-1">
                                        
                                        <form method="get" action="{% url 'search_page' %}">
                                            <div class="single-item">
                                                <label for="state" class="select-location">{% blocktranslate %}Стпана{% endblocktranslate %}</label>
                                                <select class="select-location-inner" id="state" name="country">
                                                    {% for i in tours %}
                                                        <option value="{{ i.country }}">{{ i.country }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="single-item price-range-inner">
                                                <span class="priceLabel">{% blocktranslate %}Цена{% endblocktranslate %}</span>
                                                <span id="priceValue"><span id="min-value"></span>-<span id="max-value"></span>{% blocktranslate %}сум{% endblocktranslate %}</span>
                                                <div class="priceSlider">
                                                    <div class="min-max-range">
                                                        <label for="min">{% blocktranslate %}С{% endblocktranslate %}</label>
                                                        <input type="range" min="0" max="5000000" class="range" id="min" name="min_price">
                                                        <label for="max">{% blocktranslate %}По{% endblocktranslate %}</label>
                                                        <input type="range" min="5000010" max="10000000" class="range" id="max" name="max_price">
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="style-1" type="submit"><i class="icon-search"></i></button>
                                        </form>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Section End !-->

    <!--- Location Slider Area Start !-->
    <div class="location-slider-area style-1">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <div class="sec-content">
                            <img class="topbar-shape-2" src="{% static 'images/shape/three-line-shape.png' %}" alt="Shape">
                            <span class="short-title">name of travel agency</span>
                            <h2 class="title">{% blocktranslate %}Популярные направление{% endblocktranslate %}</h2>
                            <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                        </div>
                        <div class="location-slider-arrow">
                            <button type="button" class="location-arrow-btn prev-btn" id="trigger_location_prev"><i class="fa-solid fa-arrow-left"></i></button>
                            <button type="button" class="location-arrow-btn next-btn" id="trigger_location_next"><i class="fa-solid fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="location-slider-wrapper" id="location-slider-wrapper">
                <!--- Single Location Start !-->
                {% for tour in tours %}
                    <div class="location-card style-1 wow fadeInUp" data-wow-delay="0s">
                        <div class="image-wrapper">
                            <a class="image-inner" href="{{tour.get_absolute_url}}">
                                <img src="{{tour.image.url}}" style="width: 200%; height: 100%;" alt="Location Image">
                            </a>
                        </div>
                        <div class="content-wrapper">
                            <div class="content-inner">
                                <h3 class="content-title"><a href="{{tour.get_absolute_url}}">{{tour.title}}</a></h3>
                                <a href="{{tour.get_absolute_url}}" class="icon"><i class="icon-up-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                <!--- Single Location End !-->
                {% endfor %}
            </div>
        </div>
    </div>
    <!--- Location Slider Area Start !-->

    <!-- About Us Area Start -->
    <div class="about-us-area style-1" style="background-image: url({% static 'images/about-us-area/bg-1.png' %})">
        <img class="shape-1 wow zoomInDown" src="{% static 'images/shape/dots.png' %}" alt="Shape">
        <div class="container">
            <div class="about-us-wrapper">
                <div class="row">
                    <div class="col-xl-5 order-xl-1 order-2 wow fadeInLeft" data-wow-delay=".4s">  
                        <div class="about-us-content-wrapper-1">
                            <div class="section-title">
                                <div class="sec-content">
                                    <span class="short-title">name of travel agency</span>
                                    <h2 class="title">{% blocktranslate %}Мы создаем путешествия для увлеченных путешественников{% endblocktranslate %}</h2>
                                    <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                                </div>
                            </div>
                            <div class="info-card style-1">
                                <div class="icon-wrapper">
                                    <img src="{% static 'images/icon/folding-map.png' %}" alt="Icon">
                                </div>
                                <div class="content">
                                    <h6 class="title">{% blocktranslate %}Лучшее из отелей{% endblocktranslate %}</h6>
                                    <p class="desc">{% blocktranslate %}Мы стараемся тщательно выберать отелей для нашых путешественников и выбрать самые лучшее{% endblocktranslate %}</p>
                                </div>
                            </div>
                            <div class="info-card style-1">
                                <div class="icon-wrapper">
                                    <img src="{% static 'images/icon/ticket.png' %}" alt="Icon">
                                </div>
                                <div class="content">
                                    <h6 class="title">{% blocktranslate %}Путешествие мирового класса{% endblocktranslate %}</h6>
                                    <p class="desc">{% blocktranslate %}Очень широкие направление туров{% endblocktranslate %}</p>
                                </div>
                            </div>
                            <div class="meta-wrapper">
                                <a href="{% url "about_page" %}" class="theme-btn">{% blocktranslate %}Узнать о нас по больше{% endblocktranslate %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 order-xl-2 order-1 wow fadeInRight" data-wow-delay=".4s">
                        <div class="about-us-image-wrapper-1">
                            <img class="bg-shape" src="{% static 'images/about-us-area/image-wrapper-bg-1.png' %}" alt="Shape">
                            <div class="image-wrapper style-1">
                                <img src="{% static 'images/about-us-area/tay.jpg' %}" alt=" Vacation Image">
                            </div>
                            <div class="image-wrapper style-2">
                                <img src="{% static 'images/about-us-area/gori.avif' %}" alt=" Vacation Image">
                            </div>
                            <div class="image-wrapper style-3">
                                <img src="{% static 'images/about-us-area/gk.jpg' %}" alt=" Vacation Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Area Start -->
    
    <!-- Location Area Start -->
    <div class="location-area style-1">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title  align-content-center justify-content-center text-center">
                        <div class="sec-content">
                            <span class="short-title">name of travel agency </span>
                            <h2 class="title">{% blocktranslate %}Найдите популярные туры{% endblocktranslate %}</h2>
                            <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gy-4">
                <!--- Single Location Start !-->
                {% for tour in tours1 %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0s">
                        <div class="location-card style-2">
                            <div class="image-wrapper">
                                <div class="image-inner">
                                    <a href="{{tour.get_absolute_url}}"><img src="{{tour.image.url}}" style="width: 500px; height: 300px;" alt="Location Image"></a>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content-inner">
                                    <span class="price">{{tour.prise}}so`m</span>
                                    <h3 class="content-title"><a href="{{tour.get_absolute_url}}">{{tour.title}}</a></h3>
                                    <div class="time-zone">
                                        <div class="time-zone-inner">
                                        <i class="fa-solid fa-location-dot"></i>
                                            <p class="title">{{tour.addres}}</p>
                                        </div>
                                        <div class="time-zone-inner">
                                            <i class="fa-solid fa-clock"></i>
                                            <p class="title">{{tour.days}} {% blocktranslate %}дней{% endblocktranslate %}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!--- Single Location End !-->
               
            </div>
        </div>
    </div>
    <!-- Location Area End -->

    <!-- Why Choose Us Area  Start-->
    <div class="why-choose-us-area style-1">
        <img class="shape-1 wow zoomInDown" src="{% static 'images/shape/half-circle-2.png' %}" alt="Shape">
        <img class="shape-2 wow zoomInUp" src="{% static 'images/shape/dots.png' %}" alt="Shape">
        <div class="container">
            <div class="row gy-4">
                <div class="col-xl-4 col-lg-6 wow fadeInLeft" data-wow-delay=".4s">
                    <div class="section-title">
                        <div class="sec-content">
                            <span class="short-title">name of travel agency</span>
                            <h2 class="title">{% blocktranslate %}Получите лучшие впечатления от путешествия с NAME{% endblocktranslate %}</h2>
                            <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                        </div>
                        <div class="sec-desc">
                            <p class="desc"></p>
                        </div>
                        <div class="sec-btn">
                            <a href="#" class="theme-btn">{% blocktranslate %}Узнать о нас по больше{% endblocktranslate %}</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 align-self-center wow fadeInDown" data-wow-delay=".6s">
                    <div class="image-wrapper">
                        <img src="{% static 'images/why-choose-us-area/choose-us-img-1.png' %}" alt="Choose Us Image">
                    </div>
                </div>
                <div class="col-xl-4 wow fadeInRight" data-wow-delay=".4s">
                    <div class="info-wrapper">
                        <div class="info-card style-1">
                            <div class="icon-wrapper">
                                <img src="{% static 'images/icon/folding-map.png' %}" alt="Icon">
                            </div>
                            <div class="content">
                                <h6 class="title">{% blocktranslate %}Гиты в турах{% endblocktranslate %}</h6>
                                <p class="desc">{% blocktranslate %}Наши гиты лучшие в своём деле{% endblocktranslate %}</p>
                            </div>
                        </div>
                        <div class="info-card style-1">
                            <div class="icon-wrapper">
                                <img src="{% static 'images/icon/ticket.png' %}" alt="Icon">
                            </div>
                            <div class="content">
                                <h6 class="title">{% blocktranslate %}Цены туров{% endblocktranslate %}</h6>
                                <p class="desc">{% blocktranslate %}У нас самые приемлимые цены в рынке{% endblocktranslate %}</p>
                            </div>
                        </div>
                        <div class="info-card style-1">
                            <div class="icon-wrapper">
                                <img src="{% static 'images/icon/calender.png' %}" alt="Icon">
                            </div>
                            <div class="content">
                                <h6 class="title">{% blocktranslate %}Мгновенное бронирование{% endblocktranslate %}</h6>
                                <p class="desc">{% blocktranslate %}Вы можете бронировать туры как и онлайн так и в офисах нашего турагентство{% endblocktranslate %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Why Choose Us Area  End-->

    <!-- Process Step Area Start  -->
    <div class="process-step-area style-1">
        <div class="container">
            <img class="bg-shape" src="{% static 'images/shape/elements.png' %}" alt="Shape">
            <div class="section-title justify-content-center text-center">
                <div class="sec-content">
                    <span class="short-title">name of travel agency</span>
                    <h2 class="title">{% blocktranslate %}Революция в способах путешествий{% endblocktranslate %}</h2>
                    <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                </div>
            </div>
            <div class="row gy-4">
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="0s">
                    <div class="process-card style-1">
                        <div class="img-wrapper wow">
                            <img src="{% static 'images/process-step-area/image-1.png' %}" alt="Shape">
                        </div>
                        <div class="content-wrapper">
                            <h4 class="title">{% blocktranslate %}Бронируйте и отдыхайте{% endblocktranslate %}</h4>
                            <p class="desc"></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                    <div class="process-card style-1">
                        <div class="img-wrapper">
                            <img src="{% static 'images/process-step-area/image-2.png' %}" alt="Shape">
                        </div>
                        <div class="content-wrapper">
                            <h4 class="title">{% blocktranslate %}Умный контрольный список{% endblocktranslate %}</h4>
                            <p class="desc"></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                    <div class="process-card style-1 ">
                        <div class="img-wrapper">
                            <img src="{% static 'images/process-step-area/image-3.png' %}" alt="Shape">
                        </div>
                        <div class="content-wrapper">
                            <h4 class="title">{% blocktranslate %}Экономьте больше{% endblocktranslate %}</h4>
                            <p class="desc"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Process Step Area End  -->

    <!-- Testimonial Slider Area Start -->
    <div class="testimonial-slider-area style-1">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 wow fadeInLeft">
                    <div class="testimonial-slider-image-wrapper">
                        <div class="single-img-wrapper style-1">
                            <div class="img-inner">
                                <div class="image">
                                    <img src="{% static 'images/testimonial/rim.jpg' %}" alt="User Image">
                                </div>
                                <div class="content">
                                    <span class="desc"><i class="fa-solid fa-location-dot"></i>Roma</span>
                                </div>
                            </div>
                        </div>
                        <div class="single-img-wrapper style-2">
                            <div class="img-inner">
                                <div class="image">
                                    <img src="{% static 'images/testimonial/msk.jpg' %}" alt="User Image">
                                </div>
                                <div class="content">
                                    <span class="desc"><i class="fa-solid fa-location-dot"></i>Russia</span>
                                </div>
                            </div>
                        </div>
                        <div class="single-img-wrapper style-3">
                            <div class="img-inner">
                                <div class="image">
                                    <img src="{% static 'images/testimonial/istanbul.jpg' %}" alt="User Image">
                                </div>
                                <div class="content style-2">
                                    <span class="desc"><i class="fa-solid fa-location-dot"></i>Istanbul</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 wow fadeInRight">
                    <div class="testimonial-content-wrapper">
                         <div class="section-title">
                            <div class="sec-content">
                                <span class="short-title"></span>
                                <h2 class="title">{% blocktranslate %}Что говорит путешественник{% endblocktranslate %}</h2>
                                <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                            </div>
                        </div>
                        <div class="testimonial-slider-wrapper" id="testimonial_one">
                            <!-- Single Slider Content Start -->
                            <div>
                                <div class="testimonial-card style-1">
                                    <div class="content-wrapper">
                                        <div class="content">
                                            <p class="text">{% blocktranslate %}Их обслуживание просто замечательное и дешевле, чем на прямом или любом другом сайте бронирования. Вы сразу же возвращаетесь к нам, и на другом конце нет никаких проблем.{% endblocktranslate %}</p>
                                        </div>
                                        <div class="user-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <!-- Single Slider Content End -->
                        </div>  
                        <div class="testimonial-user-slider">
                            <div class="testimonial-user-wrapper ">
                                <!-- Single User Wrapper Start -->
                                <div  class="single-user">
                                    <img src="{% static 'images/testimonial/user.avif' %}" alt="user"/>
                                </div>
                                <!-- Single User Wrapper End -->

                                <!-- Single User Wrapper Start -->
                                <div class="single-user">
                                    <img src="{% static 'images/testimonial/user.avif' %}" alt="user"/>
                                </div>
                                <!-- Single User Wrapper End -->

                                <!-- Single User Wrapper Start -->
                                <div class="single-user">
                                    <img src="{% static 'images/testimonial/user.avif' %}" alt="user"/>
                                </div>
                                <!-- Single User Wrapper End -->

                                <!-- Single User Wrapper Start -->
                                <div class="single-user">
                                    <img src="{% static 'images/testimonial/user.avif' %}" alt="user"/>
                                </div>
                                <!-- Single User Wrapper End -->

                                <!-- Single User Wrapper Start -->
                                <div  class="single-user">
                                    <img src="{% static 'images/testimonial/user.avif' %}" alt="user"/>
                                </div>
                                <!-- Single User Wrapper End -->
                            </div>

                            <!-- Single User Wrapper Start -->
                            <div class="arrow-btn" id="user-slider-arrow">
                                <i class="fa-regular fa-arrow-right"></i>
                            </div>
                            <!-- Single User Wrapper End -->
                        </div>           
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial Slider Area End -->

    <!-- location Image Card Area Start -->
    <div class="location-area style-2">
        <img class="bg-bottom-shape" src="{% static 'images/shape/bottom-shape.png' %}" alt="Shape">
        <div class="container">
            <div class="section-title  align-content-center justify-content-center text-center">
                <div class="sec-content">
                    <span class="short-title">name of travel agency</span>
                    <h2 class="title">{% blocktranslate %}Исследуйте окрестности{% endblocktranslate %}</h2>
                    <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                </div>
            </div>
            <div class="location-card-wrapper">
                <div class="row gy-4">
                    <!-- Single Card Start -->
                     {% for tour in tours1 %}
                    <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0s">
                        <div class="location-image-card">
                            <a href="{{tour.get_absolute_url}}" class="img-wrapper">
                                <img src="{{tour.image.url}}" style="height: 190px;" alt="Place Image">
                            </a>
                            <div class="content-inner">
                                <h6 class="city"><a href="{{tour.get_absolute_url}}">{{tour.country}}</a></h6>
                                <p class="duration"></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Single Card End -->
                    
                </div>
            </div>
            <div class="sec-btn justify-content-center text-center">
                <a class="theme-btn" href="{% url "tour_page" %}">{% blocktranslate %}Узнать больше{% endblocktranslate %}</a>
            </div>
        </div>
    </div>
    <!-- location Image Card Area End -->
    {% endblock content %}
   