{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

    <div class="body-overlay"></div>

    <!-- Page Header Start !-->
    <div class="page-breadcrumb-area page-bg" style="background-image: url({% static 'images/breadcrumb/priroda5.jpg' %})"></div>
    <!-- Page Header End !-->

    <!-- Location Area Start -->
    <div class="tour-area">
        <div class="location-area style-1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title  align-content-center justify-content-center text-center">
                            <div class="sec-content">
                                <h2 class="title">{% blocktranslate %}Резултат поиска{% endblocktranslate %}</h2>
                                <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="isotope-grid">
                    <div class="row gy-4">
                    <!--- Single Location Start !-->
                    {% for tour in search_list %}
                        <div class="col-lg-4 col-md-6 masonry-portfolio-item resort beach wow fadeInUp" data-wow-delay="0s">
                            <div class="location-card style-2">
                                <div class="image-wrapper">
                                    <a href="tour-details.html" class="image-inner">
                                        <img src="{{tour.image.url}}" alt="Location Image">
                                    </a>
                                    <div class="favourite-icon">
                                        <i class="fa-solid fa-heart"></i>
                                    </div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="content-inner">
                                        <h5 class="price"><span class="">{{tour.prise}}</span>{% blocktranslate %}сум{% endblocktranslate %}</h5>
                                        <h3 class="content-title"><a href="{{tour.get_absolute_url}}">{{tour.title}}</a></h3>
                                        <div class="time-zone">
                                            <div class="time-zone-inner">
                                               <i class="fa-solid fa-location-dot"></i>
                                                <p class="title">{{tour.addres}}</p>
                                            </div>
                                            <div class="time-zone-inner">
                                                <i class="fa-solid fa-clock"></i>
                                                <p class="title">{{tour.days}} {% blocktranslate %}дней{% endblocktranslate %}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    <!--- Single Location End !-->
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <!-- Location Area End -->
{% endblock content %}
  