{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

    <div class="body-overlay"></div>

    <!-- Page Header Start !-->
    <div class="page-breadcrumb-area page-bg" style="background-image: url({% static 'images/breadcrumb/priroda.avif' %})"></div>
    <!-- Page Header End !-->

    <!-- Tour Details Area Start -->
    <div class="blog-area tour-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 blog-details-wrapper">
                    <!-- Post Details Start -->
                    <article class="single-post-item">
                        <div class="post-title-wrapper">
                            <h3 class="post-title">
                                <a href="{{tours.get_absolute_url}}">{{tours.title}}</a>
                            </h3>
                            <div class="rating">
                                
                            </div>
                        </div>
                        <div class="post-meta style-2">
                                <div class="post-meta-inner">
                                    <div class="date-info">
                                       <i class="fa-solid fa-location-dot"></i>
                                        <p class="date">{{tours.addres}}</p>
                                    </div>
                                    <div class="time-info">
                                        <i class="fa-solid fa-clock"></i>
                                        <p class="time">{{tours.days}}{% blocktranslate %} дней{% endblocktranslate %}</p>
                                    </div>
                                </div>
                                <h5 class="price">{{tours.prise}} {% blocktranslate %}сум{% endblocktranslate %}</h5>
                         </div>
                        <div class="post-thumbnail">
                            <a href="#">
                                <img src="{{tours.image.url}}" alt="Blog Image" />
                            </a>
                        </div>
                        <div class="post-content-wrapper">
                            <div class="post-content">
                                <h4>{% blocktranslate %}Описание{% endblocktranslate %}</h4>
                                <p>{{tours.about}}</p>
                                <div class="post-card-divider"></div>
                                {% if user.is_staff %}
                                <button><a href="{% url "delete-tour" tours.slug %}">{% blocktranslate %}Удалить тур{% endblocktranslate %}</a></button>
                                {% endif %}
                               
                                <h4>{% blocktranslate %}Фото с туров{% endblocktranslate %}</h4>
                                <div class="post-gallery-columns-2">
                                    <div class="post-gallery-item">
                                        <img src="{% static 'images/tour-details/image-1.jpg' %}" alt="image">
                                    </div>
                                    <div class="post-gallery-item">
                                        <img src="{% static 'images/tour-details/image-2.jpg' %}" alt="image">
                                    </div>
                                    <div class="post-gallery-item">
                                        <img src="{% static 'images/tour-details/image-3.jpg' %}" alt="image">
                                    </div>
                                    <div class="post-gallery-item">
                                        <img src="{% static 'images/tour-details/image-4.jpg' %}" alt="image">
                                    </div>
                                </div>
                                <div class="post-card-divider"></div>
                            </div>
                        </div>
                    </article>

                    <!-- Post Details End -->
                </div>
                <!-- Blog Sidebar Start -->
                <div class="col-lg-4 order-1 order-lg-2">
                    <div class="sidebar">
                        <div class="widget widget_booking_form">
                            <h3 class="title">{% blocktranslate %}Забронировать тур{% endblocktranslate %}</h3>
                            <form action="{{ tours.get_absolute_url }}" method="post" class="comment-form">
                                {% csrf_token %}
                                <div class="row g-4">
                                    <div class="col-xl-12">
                                        <div class="contacts-name input-wrapper">
                                            <label>{% blocktranslate %}Ф.И.О{% endblocktranslate %}</label>
                                            <input name="full_name" type="text" placeholder={% blocktranslate %}"Ф.И.О"{% endblocktranslate %} required>
                                            {% if form.full_name.errors %}
                                                <div class="error">{{ form.full_name.errors }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contacts-email input-wrapper">
                                            <label>{% blocktranslate %}Электронная почта{% endblocktranslate %}</label>
                                            <input name="email" type="email" placeholder={% blocktranslate %}"Электронная почта"{% endblocktranslate %} required>
                                            {% if form.email.errors %}
                                                <div class="error">{{ form.email.errors }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contacts-phone input-wrapper">
                                            <label>{% blocktranslate %}Номер телефона{% endblocktranslate %}</label>
                                            <input name="phone" type="text" placeholder={% blocktranslate %}"Номер телефона"{% endblocktranslate %} required>
                                            {% if form.phone.errors %}
                                                <div class="error">{{ form.phone.errors }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contacts-date input-wrapper">
                                            <label>{% blocktranslate %}День{% endblocktranslate %}</label>
                                            <input name="date" type="text" value="{{ form.date.value|date:'Y-m-d' }}" readonly>
                                            {% if form.date.errors %}
                                                <div class="error">{{ form.date.errors }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contacts-tour input-wrapper">
                                            <label>{% blocktranslate %}Тур{% endblocktranslate %}</label>
                                            <input name="tour" type="text" value="{{ form.tour.value }}" readonly>
                                            {% if form.tour.errors %}
                                                <div class="error">{{ form.tour.errors }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="theme-btn" type="submit">
                                            <span class="swip">
                                                <span class="title-wrapper">
                                                    <span class="title-1">{% blocktranslate %}Забронировать{% endblocktranslate %}</span>
                                                </span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Blog Sidebar Start -->
            </div>
        </div>
    </div>
    <!-- Tour Details Area Start -->
{% endblock content %}
   