{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Menu Sidebar Section Start -->
    <div class="menu-sidebar-area">
        <div class="menu-sidebar-wrapper">
            <div class="menu-sidebar-close">
                <button class="menu-sidebar-close-btn" id="menu_sidebar_close_btn">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="menu-sidebar-content">
                <div class="menu-sidebar-logo">
                    <a href="index.html">
                        <img src="{% static 'images/logo/nav-logo.png' %}" alt="logo" />
                    </a>
                </div>
                <div class="mobile-nav-menu"></div>
                <div class="menu-sidebar-content">
                    <div class="menu-sidebar-single-widget">
                        <h5 class="menu-sidebar-title">Contact Info</h5>
                        <div class="header-contact-info">
                            <span><i class="fa-solid fa-location-dot"></i>20, Bordeshi, New York, US</span>
                            <span><a href="mailto:hello@transico.com"><i class="fa-solid fa-envelope"></i>hello@transico.com</a> </span>
                            <span><a href="tel:+123-456-7890"><i class="fa-solid fa-phone"></i>+123-456-7890</a></span>
                        </div>
                        <div class="social-profile">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu Sidebar Section Start -->
    <div class="body-overlay"></div>

    <!-- Page Header Start !-->
    <div class="page-breadcrumb-area page-bg" style="background-image: url({% static 'images/breadcrumb/tour.jpg' %})">
        <!-- <div class="page-overlay"></div> -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <div class="page-heading">
                            <h3 class="page-title">The Colosseum, Rome</h3>
                        </div>
                        <div class="breadcrumb-list">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li class="active"><a href="#">Tour detail</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End !-->

    <!-- Tour Details Area Start -->
    <div class="blog-area tour-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 blog-details-wrapper">
                    <!-- Post Details Start -->
                    <article class="single-post-item">
                        <div class="post-title-wrapper">
                            <h3 class="post-title">
                                <a href="blog-details.html">{{tours.title}}</a>
                            </h3>
                            <div class="rating">
                                <div class="ratting-inner">
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>   
                                    <span class="counter">3.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-meta style-2">
                                <div class="post-meta-inner">
                                    <div class="date-info">
                                       <i class="fa-solid fa-location-dot"></i>
                                        <p class="date">{{tours.addres}}</p>
                                    </div>
                                    <div class="time-info">
                                        <i class="fa-solid fa-clock"></i>
                                        <p class="time">{{tours.days}} Days</p>
                                    </div>
                                </div>
                                <h5 class="price">${{tours.prise}}</h5>
                         </div>
                        <div class="post-thumbnail">
                            <a href="#">
                                <img src="{{tours.image.url}}" alt="Blog Image" />
                            </a>
                        </div>
                        <div class="post-content-wrapper">
                            <div class="post-content">
                                <h4>About Tour</h4>
                                <p>{{tours.about}}</p>
                                <div class="post-card-divider"></div>

                                <button><a href="{% url "delete-tour" tours.slug %}">Delete tour</a></button>
                                
                               
                                <h4>Image from travello</h4>
                                <div class="post-gallery-columns-2">
                                    <div class="post-gallery-item">
                                        <img src="{% static 'images/tour-details/image-1.jpg' %}" alt="image">
                                    </div>
                                    <div class="post-gallery-item">
                                        <img src="{% static 'images/tour-details/image-2.jpg' %}" alt="image">
                                    </div>
                                    <div class="post-gallery-item">
                                        <img src="{% static 'images/tour-details/image-3.jpg' %}" alt="image">
                                    </div>
                                    <div class="post-gallery-item">
                                        <img src="{% static 'images/tour-details/image-4.jpg' %}" alt="image">
                                    </div>
                                </div>
                                <div class="post-card-divider"></div>
                               
                                <h4>Tour map</h4>
                                <div class="map-wedget">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115860.91759646642!2d89.28780421873043!3d24.84151459710791!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fc54e7e81df441%3A0x27133ed921fe73f4!2sBogura!5e0!3m2!1sen!2sbd!4v1684842047185!5m2!1sen!2sbd"
                                        style="border:0;" allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!-- Post Details End -->
                </div>
                <!-- Blog Sidebar Start -->
                <div class="col-lg-4 order-1 order-lg-2">
                    <div class="sidebar">
                        <div class="widget widget_booking_form">
                            <h3 class="title">Book this tour</h3>
                            <form action="{{ tours.get_absolute_url }}" method="post" class="comment-form">
                                {% csrf_token %}
                                <div class="row g-4">
                                    <div class="col-xl-12">
                                        <div class="contacts-name input-wrapper">
                                            <label>Full name</label>
                                            <input name="full_name" type="text" placeholder="Your Name" required>
                                            {% if form.full_name.errors %}
                                                <div class="error">{{ form.full_name.errors }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contacts-email input-wrapper">
                                            <label>Email</label>
                                            <input name="email" type="email" placeholder="Your Email" required>
                                            {% if form.email.errors %}
                                                <div class="error">{{ form.email.errors }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contacts-phone input-wrapper">
                                            <label>Phone</label>
                                            <input name="phone" type="text" placeholder="Your Phone No." required>
                                            {% if form.phone.errors %}
                                                <div class="error">{{ form.phone.errors }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contacts-date input-wrapper">
                                            <label>Date</label>
                                            <input name="date" type="text" value="{{ form.date.value|date:'Y-m-d' }}" readonly>
                                            {% if form.date.errors %}
                                                <div class="error">{{ form.date.errors }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contacts-tour input-wrapper">
                                            <label>Tour</label>
                                            <input name="tour" type="text" value="{{ form.tour.value }}" readonly>
                                            {% if form.tour.errors %}
                                                <div class="error">{{ form.tour.errors }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="theme-btn" type="submit">
                                            <span class="swip">
                                                <span class="title-wrapper">
                                                    <span class="title-1">Book now</span>
                                                </span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Blog Sidebar Start -->
            </div>
        </div>
    </div>
    <!-- Tour Details Area Start -->
{% endblock content %}
   